header{
    width: 100%;
    height: 5.625rem;
    background: var(--color-grey-0);

    @media(max-width: 450px){
        height: 6.875rem;
    }
}
.headerBox{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    
    div{
        display: flex;
        align-items: center;
        
        div{
            width: 100%;
            height: 5.5rem;
            form{
                display: flex;
                align-items: center;
                
                input{
                    width: 25rem;
                    height: 1.375rem;

                    border: solid var(--color-grey-100) .0938rem;
                    border-radius: .5rem;
                    
                    font-family: var(--font-primary);
                    font-size: .75rem;
                    color: var(--color-grey-300);

                    @media(max-width:450px){
                        width: 180px; 
                        height: 1.375rem;                       
                    }
                }
                
                input:hover{
                    border: solid var(--color-primary) .0938rem;
                }
            }
            
            button{
                span{

                    padding: 4px;
                    border-radius: 7px;    
                    background: var(--color-primary);
                    color: var(--color-white);

                }
            }
        }
        
        
    }


    
    img{
        @media(max-width:325px){
            width: 50%;
        }
    }
    
    @media(max-width:500px){
     display: flex;
     flex-direction: column;     
    }
}

