%button{
    display: inline-flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-white);
}
.button01{
    @extend %button;
    width: 100%;
    height: 3.75rem;

    border: none;
    border-radius: .5rem;
    background: var(--color-grey-300);
}
.button01:hover{
    filter: brightness(1.2);
    transition: 0.5s
}
.button02{
    @extend %button;
    height: 2.5rem;

    border: none;
    border-radius: .5rem;
    background: var(--color-grey-300);
}
.button02:hover{
    filter: brightness(1.2);
    transition: 0.5s
}